<% include header %>

  <div class="intro">
      <h1>mijn<br>werken</h1>
      <h2 class="naam">thomas havermans</h2>
      <a href="/werken.ejs" class="doorklikButton">bekijk</a>
  </div>

<%  include footer %>
